{% include "header.html" %}
{% include "navbar.html" %}

<title>History</title>
</head>
<!-- class="d-flex justify-content-center h-100" -->

<body>
	<div class="container">
		<table class="table caption-top">
			{% if scans %}
			<thead>
				<tr>
					<th scope="col">Url</th>
					<th scope="col">Date</th>
					<th scope="col">Score</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			{% for s in scans %}
			<tbody>
				<tr>
					<td><a target="_blank" href={{s.url}}>{{ s.url | truncate(40)}}</a></td>
					<td>{{ s.scan_date.strftime("%Y-%m-%d %H:%M") }}</td>
					<td>{{ s.average_score }}</td>
					<td>
						<a href="/results/{{s.id}}" class="btn btn-primary btn-sm">Details</a> 
						<a href="/delete/{{s.id}}" class="btn btn-danger btn-sm">Delete</a>
					</td>
				</tr>
			</tbody>
			{% endfor %}	
			{% else %}
			<div class="container">
				<div style="display: flex; justify-content: center;">
					<h2 style="color: antiquewhite;">There is no scan histoy yet. Scan a website first.</h2>
				</div>
			</div>
			{% endif %}
		</table>
	</div>
</body>

</html>